ADMIN_PASSWORD=
ADMIN_USERNAME=
BACKEND_PORT=
BUILD_DATE=
COMMIT_SHA=
DATABASE_URL=
GEMINI_API_KEY=
IMAGE_PREFIX=
IMAGE_TAG=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
VITE_WEB3FORMS_ACCESS_KEY=
WEB_PORT=